Repository strukturag/nextcloud-spreed-signaling: changes, and which Codecov flags are due for each by the changed paths.
All: root, api, async, cmd/client, cmd/proxy, cmd/server, config, container, dns, etcd, geoip, grpc, internal, log, metrics, mock, nats, pool, proxy, security, sfu, talk, test

Limit how long idle backend connections stay pooled
  pool/http_client_pool.go
  pool/http_client_pool_test.go
Due: pool

Fix race when looking up room session ids from the backend server.
  server/backend_server.go
  server/backend_server_test.go
Due: none

Address review: fix import order, add t.Parallel(), correct keep-alive default in comments
  pool/http_client_pool.go
  pool/http_client_pool_test.go
Due: pool

Update go.opentelemetry.io/otel to v1.44.0
  go.mod
  go.sum
Due: none

Throttle TURN credentials requests on invalid API keys.
  server/backend_server.go
  server/backend_server_test.go
Due: none

Don't modify provided buffer in io.Writer.Write.
  log/logging_test.go
Due: log

lint: Ignore internal use of deprecated fields.
  sfu/proxy/proxy.go
Due: sfu

Stop setting deprecated "ServerName" property.
  grpc/common.go
Due: grpc

lint: Ignore error about deprecated "SecurityVersion".
  grpc/common.go
Due: grpc

lint: Fix formatting.
  grpc/server_test.go
Due: grpc

CI: Test with Golang 1.27
  .github/workflows/govuln.yml
  .github/workflows/lint.yml
  .github/workflows/tarball.yml
  .github/workflows/test.yml
Due: none

CI: Keep checklocks running with Go 1.26.
  .github/workflows/lint.yml
Due: none

Drop support for Go 1.25
  .github/workflows/govuln.yml
  .github/workflows/lint.yml
  .github/workflows/tarball.yml
  .github/workflows/test.yml
  README.md
  go.mod
Due: none

Migrate custom "MakePtr(x)" to builtin "new(x)".
  etcd/client.go
  internal/make_ptr.go
  internal/make_ptr_test.go
  proxy/api_test.go
  server/federation.go
  sfu/janus/janus.go
  sfu/janus/stream_selection.go
  sfu/proxy/proxy.go
Due: etcd, internal, proxy, sfu

Fix wrong Printf format for passed type.
  cmd/proxy/proxy_remote.go
Due: cmd/proxy

CI: Check generated files with latest supported version of Go.
  .github/workflows/generated.yml
Due: none

Ignore stale responses to superseded "join room" requests
  server/clientsession.go
  server/hub.go
  server/hub_test.go
Due: none

Wait for events to happen before checking for publishers.
  cmd/proxy/proxy_server_test.go
Due: cmd/proxy

No need to sleep between joining two clients.
  server/backend_server_test.go
  server/hub_test.go
  server/hub_transient_data_test.go
Due: none

Remove hardcoded sleep in "TestClientUnshareScreen".
  server/hub_test.go
Due: none

Also check for pending closes in disinvite of virtual sessions.
  server/virtualsession.go
Due: none

Store id of room currently leaving.
  api/signaling.go
  client/client.go
  client/client_test.go
  server/clientsession.go
  server/hub.go
  server/hub_client.go
  server/remotesession.go
  server/room_test.go
  server/roomsessions_test.go
  server/session.go
  server/session_with_room.go
  server/virtualsession.go
Due: api

Wait for GRPC clients to be initialized before performing tests.
  sfu/proxy/proxy_test.go
Due: sfu

Only start processing federation messages after client is stored in session.
  server/federation.go
  server/hub.go
Due: none

Handle "ready" event before shutdown event.
  cmd/proxy/proxy_server_test.go
Due: cmd/proxy

Use single NATS subscription per subject and fan out manually.
  async/events/async_events_nats.go
  async/events/async_events_test.go
  nats/client.go
  nats/loopback.go
  nats/native.go
  nats/native_test.go
  nats/test/server_test.go
Due: async, nats

Don't need all users in incall/participant change requests.
  api/signaling.go
  api/signaling_test.go
  server/backend_server.go
  server/backend_server_test.go
  server/federation.go
  server/federation_test.go
  server/hub.go
  server/hub_test.go
  server/room.go
  server/room_test.go
  talk/api.go
Due: api, talk

Update generated files.
  api/signaling_easyjson.go
  talk/api_easyjson.go
Due: none

Send room updates, invite and disinvite only to connected sessions.
  server/backend_server.go
  server/backend_server_test.go
  server/room_test.go
  talk/api.go
Due: talk

docs: Remove "users" from backend requests.
  docs/standalone-signaling-api-v1.md
Due: none

docs: Remove userids from backend room update / invite / disinvite events.
  docs/standalone-signaling-api-v1.md
Due: none

Update generated files.
  talk/api_easyjson.go
Due: none

Only notify sessions currently in the room about deletion.
  server/backend_server.go
  server/backend_server_test.go
  server/hub.go
  server/room_test.go
  talk/api.go
Due: talk

docs: Remove "userids" from backend room delete events.
  docs/standalone-signaling-api-v1.md
Due: none

Deduplicate code to lookup session ids for room session ids.
  server/backend_server.go
Due: none

Add test for disinvite in clusters, improve existing tests.
  server/backend_server_test.go
  server/room_test.go
Due: none

Add feature flag that server supports notification about only changed users.
  api/signaling.go
Due: api

Keep track of modified users even if they don't join a call.
  server/backend_server_test.go
  server/room.go
Due: none

Also remove room metrics about federated session when last session disconnects.
  server/room.go
Due: none

Path conditions:
  root: any of: *.go, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  api: any of: api/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  async: any of: async/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/client: any of: cmd/client/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/proxy: any of: cmd/proxy/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/server: any of: cmd/server/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  config: any of: config/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  container: any of: container/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  dns: any of: dns/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  etcd: any of: etcd/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  geoip: any of: geoip/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  grpc: any of: grpc/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  internal: any of: internal/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  log: any of: log/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  metrics: any of: metrics/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  mock: any of: mock/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  nats: any of: nats/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  pool: any of: pool/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  proxy: any of: proxy/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  security: any of: security/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  sfu: any of: sfu/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  talk: any of: talk/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  test: any of: test/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
