Repository strukturag/nextcloud-spreed-signaling: changes, and which Codecov flags are due for each by the changed paths.
All: root, api, async, cmd/client, cmd/proxy, cmd/server, config, container, dns, etcd, geoip, grpc, internal, log, metrics, mock, nats, pool, proxy, security, sfu, talk, test

Make per-room/-publisher bandwidths configurable.
  etcd/api.go
  server.conf.in
  server/room.go
  sfu/janus/client.go
  sfu/janus/janus.go
  sfu/proxy/proxy.go
  talk/backend.go
  talk/backend_storage_static.go
Due: etcd, sfu, talk

Update generated files.
  etcd/api_easyjson.go
Due: none

Update room join response with next-publisher bandwidth.
  server/hub.go
  server/room.go
  server/room_test.go
Due: none

Add test for calculating per-room bandwidth.
  server/room_test.go
  sfu/test/sfu.go
Due: sfu

Fix calculating publishers / bandwidth limits for clustered scenarios.
  server/room.go
  server/room_test.go
Due: none

Test clearing per-room limits and resetting bandwidth.
  server/room_test.go
Due: none

Add tests for setting bandwidth.
  cmd/proxy/proxy_server_test.go
  sfu/proxy/testserver/server.go
Due: cmd/proxy, sfu

Test updating bandwidth for proxy publishers.
  sfu/proxy/proxy_test.go
Due: sfu

feat: added github pipeline for janus
  .github/workflows/docker-janus.yml
Due: none

Wait for events to happen before checking for publishers.
  cmd/proxy/proxy_server_test.go
Due: cmd/proxy

No need to sleep between joining two clients.
  server/backend_server_test.go
  server/hub_test.go
  server/hub_transient_data_test.go
Due: none

Remove hardcoded sleep in "TestClientUnshareScreen".
  server/hub_test.go
Due: none

Store id of room currently leaving.
  api/signaling.go
  client/client.go
  client/client_test.go
  server/clientsession.go
  server/hub.go
  server/hub_client.go
  server/remotesession.go
  server/room_test.go
  server/roomsessions_test.go
  server/session.go
  server/session_with_room.go
  server/virtualsession.go
Due: api

Also check for pending closes in disinvite of virtual sessions.
  server/virtualsession.go
Due: none

Only start processing federation messages after client is stored in session.
  server/federation.go
  server/hub.go
Due: none

Fix race condition: subscriber misses publisher-connected notification
  async/notifier.go
  sfu/janus/subscriber.go
Due: async, sfu

Protect users list in room with lock.
  server/room.go
Due: none

Update internal in-call flag of users if changed with "all: true".
  server/room.go
  server/room_test.go
Due: none

grpc: Fix error code for unknown room session ids.
  server/hub.go
  server/hub_test.go
  server/roomsessions.go
Due: none

Fix race between publisher connected / subscriber waiting.
  async/notifier.go
  async/notifier_test.go
  sfu/janus/janus.go
  sfu/janus/janus_test.go
  sfu/janus/publisher.go
  sfu/janus/remote_publisher.go
  sfu/janus/test/janus.go
Due: async, sfu

Add regression tests for the remote-subscriber re-attach deadlock
  sfu/janus/janus_test.go
  sfu/janus/test/janus.go
Due: sfu

Fix deadlock when a remote (cross-server) subscriber re-attaches its handle
  sfu/janus/janus.go
  sfu/janus/remote_subscriber.go
  sfu/janus/subscriber.go
Due: sfu

Don't need all users in incall/participant change requests.
  api/signaling.go
  api/signaling_test.go
  server/backend_server.go
  server/backend_server_test.go
  server/federation.go
  server/federation_test.go
  server/hub.go
  server/hub_test.go
  server/room.go
  server/room_test.go
  talk/api.go
Due: api, talk

docs: Remove "users" from backend requests.
  docs/standalone-signaling-api-v1.md
Due: none

Update generated files.
  api/signaling_easyjson.go
  talk/api_easyjson.go
Due: none

Send room updates, invite and disinvite only to connected sessions.
  server/backend_server.go
  server/backend_server_test.go
  server/room_test.go
  talk/api.go
Due: talk

Update generated files.
  talk/api_easyjson.go
Due: none

docs: Remove userids from backend room update / invite / disinvite events.
  docs/standalone-signaling-api-v1.md
Due: none

Only notify sessions currently in the room about deletion.
  server/backend_server.go
  server/backend_server_test.go
  server/hub.go
  server/room_test.go
  talk/api.go
Due: talk

docs: Remove "userids" from backend room delete events.
  docs/standalone-signaling-api-v1.md
Due: none

Deduplicate code to lookup session ids for room session ids.
  server/backend_server.go
Due: none

Add test for disinvite in clusters, improve existing tests.
  server/backend_server_test.go
  server/room_test.go
Due: none

Add feature flag that server supports notification about only changed users.
  api/signaling.go
Due: api

Path conditions:
  root: any of: *.go, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  api: any of: api/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  async: any of: async/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/client: any of: cmd/client/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/proxy: any of: cmd/proxy/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/server: any of: cmd/server/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  config: any of: config/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  container: any of: container/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  dns: any of: dns/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  etcd: any of: etcd/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  geoip: any of: geoip/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  grpc: any of: grpc/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  internal: any of: internal/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  log: any of: log/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  metrics: any of: metrics/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  mock: any of: mock/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  nats: any of: nats/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  pool: any of: pool/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  proxy: any of: proxy/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  security: any of: security/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  sfu: any of: sfu/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  talk: any of: talk/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  test: any of: test/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
