Repository strukturag/nextcloud-spreed-signaling: changes, and which Codecov flags are due for each by the changed paths.
All: root, api, async, client, container, internal, log, metrics, proxy, server, test

Move code for commandline applications to "cmd" folder.
  .codecov.yml
  Makefile
  cmd/client/main.go
  cmd/client/stats.go
  cmd/client/stats_test.go
  cmd/proxy/main.go
  cmd/proxy/proxy_client.go
  cmd/proxy/proxy_remote.go
  cmd/proxy/proxy_remote_test.go
  cmd/proxy/proxy_server.go
  cmd/proxy/proxy_server_test.go
  cmd/proxy/proxy_session.go
  cmd/proxy/proxy_stats_prometheus.go
  cmd/proxy/proxy_testclient_test.go
  cmd/proxy/proxy_tokens.go
  cmd/proxy/proxy_tokens_etcd.go
  cmd/proxy/proxy_tokens_etcd_test.go
  cmd/proxy/proxy_tokens_static.go
  cmd/server/main.go
Due: none

Move common client code to separate package.
  .codecov.yml
  client/client.go
  client/client_test.go
  client/ip.go
  client/ip_test.go
  client/stats_prometheus.go
  clientsession.go
  cmd/proxy/proxy_client.go
  cmd/proxy/proxy_server.go
  federation.go
  grpc_remote_client.go
  hub.go
  hub_client.go
  hub_client_stats_prometheus.go
  hub_test.go
  remotesession.go
  testclient_test.go
Due: root, client

Don't import errors for proxy from signaling package.
  cmd/proxy/proxy_server.go
Due: none

Move session id codec to separate package.
  .codecov.yml
  clientsession.go
  cmd/proxy/proxy_server.go
  hub.go
  hub_test.go
  roomsessions_test.go
  session.go
  session/session.pb.go
  session/session.proto
  session/sessionid_codec.go
  session/sessionid_codec_test.go
  testclient_test.go
  virtualsession.go
Due: root

Move backend client to "talk" package.
  hub.go
  room_ping.go
  room_ping_test.go
  talk/backend_client.go
  talk/backend_client_stats_prometheus.go
  talk/backend_client_test.go
  talk/capabilities.go
Due: root

Move grpc server code to "grpc" package.
  cmd/server/main.go
  grpc/client_test.go
  grpc/server.go
  grpc/server_stats_prometheus.go
  grpc/server_test.go
  grpc/test/client_test.go
  grpc/test/server.go
  grpc/test/server_test.go
  server/backend_server_test.go
  server/grpc_client_test.go
  server/grpc_server_test.go
  server/hub.go
  server/hub_sfu_proxy_test.go
  server/hub_test.go
Due: server

Evaluate expiration when setting initial transient data.
  api/transient_data.go
  api/transient_data_test.go
Due: api

Move NATS testing code to separate module.
  async/events/async_events_test.go
  async/eventstest/eventstest.go
  nats/loopback.go
  nats/native_test.go
  nats/test/server.go
  nats/test/server_test.go
  server/backend_server_test.go
  server/hub_test.go
Due: async, server

Move dns test helpers to separate package.
  dns/internal/mock_lookup.go
  dns/internal/mock_lookup_test.go
  dns/monitor_test.go
  dns/test/dns.go
  dns/test/dns_test.go
  grpc/client_test.go
  grpc/test/client.go
  sfu/proxy/config_static_test.go
  sfu/proxy/proxy_test.go
  sfu/proxy/test/proxy.go
Due: none

Move test storage to "test" package.
  log/test/log.go
  server/hub_test.go
  test/storage.go
  test/storage_test.go
Due: log, server, test

Rename package of etcd test helpers.
  etcd/test/etcd.go
  etcd/test/etcd_test.go
  grpc/client_test.go
  grpc/test/client.go
  grpc/test/client_test.go
  server/hub_sfu_proxy_test.go
  sfu/proxy/config_etcd_test.go
  sfu/proxy/proxy_test.go
  sfu/proxy/test/proxy.go
  sfu/proxy/testserver/server.go
  talk/backend_configuration_test.go
  talk/backend_storage_etcd_test.go
Due: server

Add metrics tests.
  metrics/test/metrics.go
  metrics/test/metrics_test.go
Due: metrics

Rename package of async events test helpers.
  async/events/test/events.go
  async/events/test/events_test.go
  server/backend_server_test.go
  server/hub_test.go
Due: async, server

Remove unused testing code.
  sfu/janus/mcu_test.go
Due: none

Add per-room bandwidth limits.
  cmd/proxy/proxy_server.go
  cmd/proxy/proxy_server_test.go
  cmd/proxy/proxy_session.go
  grpc/client.go
  grpc/room.proto
  grpc/server.go
  grpc/server_test.go
  proxy/api.go
  server/clientsession.go
  server/hub.go
  server/hub_sfu_proxy_test.go
  server/room.go
  server/session.go
  sfu/common.go
  sfu/janus/client.go
  sfu/proxy/proxy.go
Due: proxy, server

Update generated files.
  grpc/room.pb.go
  grpc/room_grpc.pb.go
  proxy/api_easyjson.go
Due: proxy

Adjust default limits.
  server/room.go
Due: server

Define min/max bandwidth per publisher.
  server/room.go
Due: server

Support setting bandwidth for proxy publishers.
  cmd/proxy/proxy_server.go
  proxy/api.go
  sfu/proxy/proxy.go
Due: proxy

Update generated files.
  proxy/api_easyjson.go
Due: proxy

Only count publishers that are sending at least 64 kbit/s.
  server/clientsession.go
Due: server

Update generated files.
  etcd/api_easyjson.go
Due: none

Make per-room/-publisher bandwidths configurable.
  etcd/api.go
  server.conf.in
  server/room.go
  sfu/janus/client.go
  sfu/janus/janus.go
  sfu/proxy/proxy.go
  talk/backend.go
  talk/backend_storage_static.go
Due: server

Add test for calculating per-room bandwidth.
  server/room_test.go
  sfu/test/sfu.go
Due: server

Update room join response with next-publisher bandwidth.
  server/hub.go
  server/room.go
  server/room_test.go
Due: server

Fix calculating publishers / bandwidth limits for clustered scenarios.
  server/room.go
  server/room_test.go
Due: server

Add tests for setting bandwidth.
  cmd/proxy/proxy_server_test.go
  server/hub_sfu_janus_test.go
  server/hub_sfu_proxy_test.go
  sfu/proxy/testserver/server.go
Due: server

Test clearing per-room limits and resetting bandwidth.
  server/room_test.go
Due: server

Test updating bandwidth for proxy publishers.
  sfu/proxy/proxy_test.go
Due: none

Don't need all users in incall/participant change requests.
  api/signaling.go
  api/signaling_test.go
  server/backend_server.go
  server/backend_server_test.go
  server/federation.go
  server/federation_test.go
  server/hub.go
  server/hub_sfu_janus_test.go
  server/hub_test.go
  server/room.go
  talk/api.go
Due: api, server

Update generated files.
  api/signaling_easyjson.go
  talk/api_easyjson.go
Due: api

docs: Remove "users" from backend requests.
  docs/standalone-signaling-api-v1.md
Due: none

Send room updates, invite and disinvite only to connected sessions.
  server/backend_server.go
  server/backend_server_test.go
  server/room_test.go
  talk/api.go
Due: server

Update generated files.
  talk/api_easyjson.go
Due: none

docs: Remove userids from backend room update / invite / disinvite events.
  docs/standalone-signaling-api-v1.md
Due: none

Only notify sessions currently in the room about deletion.
  server/backend_server.go
  server/backend_server_test.go
  server/hub.go
  server/room_test.go
  talk/api.go
Due: server

docs: Remove "userids" from backend room delete events.
  docs/standalone-signaling-api-v1.md
Due: none

Path conditions:
  root: any of: *.go, but not: *_easyjson.go, *.pb.go
  api: any of: api/**, but not: *_easyjson.go, *.pb.go
  async: any of: async/**, but not: *_easyjson.go, *.pb.go
  client: any of: client/**, but not: *_easyjson.go, *.pb.go
  container: any of: container/**, but not: *_easyjson.go, *.pb.go
  internal: any of: internal/**, but not: *_easyjson.go, *.pb.go
  log: any of: log/**, but not: *_easyjson.go, *.pb.go
  metrics: any of: metrics/**, but not: *_easyjson.go, *.pb.go
  proxy: any of: proxy/**, but not: *_easyjson.go, *.pb.go
  server: any of: server/**, but not: *_easyjson.go, *.pb.go
  test: any of: test/**, but not: *_easyjson.go, *.pb.go
