Repository strukturag/nextcloud-spreed-signaling: changes, and which Codecov flags are due for each by the changed paths.
All: root, api, async, client, container, internal, log, metrics, proxy, server, test

.codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: 2%

comment:
  layout: "header, diff, flags, components, files"
  after_n_builds: 2

ignore:
  - "*_easyjson.go"
  - "*.pb.go"

component_management:
  individual_components:
    - component_id: module_root
      name: root
      paths:
        - "*.go"
    - component_id: module_api
      name: api
      paths:
        - api/**
    - component_id: module_async
      name: async
      paths:
        - async/**
    - component_id: module_client
      name: client
      paths:
        - client/**
    - component_id: module_container
      name: container
      paths:
        - container/**
    - component_id: module_internal
      name: internal
      paths:
        - internal/**
    - component_id: module_log
      name: log
      paths:
        - log/**
    - component_id: module_metrics
      name: metrics
      paths:
        - metrics/**
    - component_id: module_proxy
      name: proxy
      paths:
        - proxy/**
    - component_id: module_server
      name: server
      paths:
        - server/**
    - component_id: module_test
      name: test
      paths:
        - test/**

Update generated files.
  api_backend_easyjson.go
  talk/ocs_easyjson.go
Due: none

Update generated files.
  api/signaling_easyjson.go
  api_async_easyjson.go
  api_backend_easyjson.go
  api_proxy_easyjson.go
Due: api

Move confiuration helpers to config module.
  .codecov.yml
  backend_server.go
  backend_storage_static.go
  client/main.go
  config/config.go
  config/config_test.go
  geoip.go
  grpc_server.go
  hub.go
  mcu_proxy.go
  proxy/main.go
  proxy/proxy_server.go
  proxy/proxy_tokens_static.go
  proxy_config_static.go
  server/main.go
Due: root, client, proxy, server

Move backend object to talk package.
  .codecov.yml
  api_backend.go
  api_backend_test.go
  async_events.go
  async_events_nats.go
  async_events_nats_test.go
  backend_client.go
  backend_configuration.go
  backend_configuration_test.go
  backend_server.go
  backend_storage_etcd.go
  backend_storage_static.go
  clientsession.go
  clientsession_test.go
  etcd/api.go
  etcd/api_test.go
  grpc_server.go
  hub.go
  hub_test.go
  mcu_proxy_test.go
  room.go
  roomsessions_test.go
  session.go
  sessionid_codec_test.go
  talk/backend.go
  talk/backend_stats_prometheus.go
  virtualsession.go
  virtualsession_test.go
Due: root

Update generated files.
  api_backend_easyjson.go
Due: none

Move function to check for address already in use to test package.
  etcd_client_test.go
  grpc_server_test.go
  proxy/proxy_tokens_etcd_test.go
  test/network.go
  test/network_test.go
Due: root, proxy, test

Move etcd client code to "etcd" package.
  Makefile
  api_backend.go
  backend_client.go
  backend_configuration.go
  backend_configuration_test.go
  backend_storage_etcd.go
  backend_storage_etcd_test.go
  etcd/api.go
  etcd/client.go
  etcd/client_test.go
  etcd/etcdtest/etcdtest.go
  etcd/etcdtest/etcdtest_test.go
  grpc_client.go
  grpc_client_test.go
  hub.go
  mcu_proxy.go
  mcu_proxy_test.go
  proxy/proxy_tokens_etcd.go
  proxy_config_etcd.go
  proxy_config_etcd_test.go
  server/main.go
Due: root, proxy, server

Move DNS monitor to "dns" package.
  .codecov.yml
  dns/monitor.go
  dns/monitor_test.go
  dns/test_helpers.go
  grpc_client.go
  grpc_client_test.go
  mcu_proxy.go
  mcu_proxy_test.go
  proxy_config_static.go
  proxy_config_static_test.go
  server/main.go
Due: root, server

Update generated files.
  api_backend_easyjson.go
  etcd/api_easyjson.go
Due: none

Move certificate / pool reloader to "security" package.
  .codecov.yml
  certificate_reloader_test.go
  grpc_common.go
  grpc_common_test.go
  security/certificate_reloader.go
  security/internal/file_watcher.go
  security/internal/file_watcher_test.go
Due: root

Move geo related code to "geoip" package.
  .codecov.yml
  Makefile
  api/signaling.go
  api/signaling_easyjson.go
  api_backend.go
  api_backend_easyjson.go
  client.go
  geoip/continentmap.go
  geoip/geoip.go
  geoip/maxmind.go
  geoip/maxmind_test.go
  geoip/overrides.go
  geoip/overrides_test.go
  grpc_client.go
  grpc_remote_client.go
  hub.go
  hub_test.go
  mcu_common.go
  mcu_common_test.go
  mcu_janus_test.go
  mcu_proxy.go
  mcu_proxy_test.go
  proxy/proxy_remote.go
  proxy/proxy_server.go
  remotesession.go
  scripts/get_continent_map.py
Due: root, api, proxy

Move Talk-specific API to "talk" package.
  api/signaling.go
  api_async.go
  async_events_nats.go
  backend_client.go
  backend_server.go
  backend_server_test.go
  client/main.go
  clientsession.go
  clientsession_test.go
  federation.go
  grpc_client.go
  grpc_server.go
  hub.go
  hub_test.go
  internal/random_string.go
  internal/random_string_test.go
  mcu_common.go
  mcu_janus.go
  mcu_proxy.go
  mcu_proxy_test.go
  mcu_test.go
  proxy/proxy_server_test.go
  room.go
  room_ping.go
  room_ping_test.go
  room_test.go
  roomsessions_test.go
  session.go
  session_test.go
  talk/api.go
  talk/api_test.go
  testclient_test.go
  transient_data_test.go
  virtualsession.go
Due: root, api, client, internal, proxy

Update generated files.
  api_async_easyjson.go
  talk/api_easyjson.go
Due: none

Move async events code to "async/events" package.
  Makefile
  async/events/api.go
  async/events/async_events.go
  async/events/async_events_nats.go
  async/events/async_events_nats_test.go
  async/events/async_events_test.go
  async/eventstest/eventstest.go
  backend_server.go
  backend_server_test.go
  clientsession.go
  clientsession_test.go
  hub.go
  hub_test.go
  room.go
  server/main.go
  virtualsession.go
Due: root, async, server

Update generated files.
  async/events/api_easyjson.go
Due: async

Move flags to "internal" package.
  clientsession.go
  internal/flags.go
  internal/flags_test.go
  mcu_janus_publisher.go
  virtualsession.go
Due: root, internal

codecov: Ignore easyjson stubs in any folders.
  .codecov.yml
Due: none

Wait for initialization code to complete before stopping.
  backend_storage_etcd.go
  proxy_config_etcd.go
Due: root

Fix flaky "TestVirtualSessionCustomInCall" for cases where update is sent after joined.
  virtualsession_test.go
Due: root

Fix flaky "TestDuplicateVirtualSessions" for mixed ordering of joined/update.
  hub_test.go
Due: root

Send updated load synchronously, assert on errors while waiting.
  mcu_proxy_test.go
Due: root

Process only single "joined" event instead of discarding any received.
  virtualsession_test.go
Due: root

Filter duplicate "flags" events.
  clientsession.go
Due: root

Don't log initial empty transient data.
  room.go
Due: root

Fix race in flaky "DoTestSwitchToOne" / "DoTestSwitchToMultiple".
  hub_test.go
Due: root

Allow transient data with both "initial" and "set" in TestDialoutStatus.
  hub_test.go
  testclient_test.go
Due: root

Move backend configuration code to "talk" package.
  backend_client.go
  grpc_client_test.go
  talk/backend_configuration.go
  talk/backend_configuration_stats_prometheus.go
  talk/backend_configuration_test.go
  talk/backend_storage_etcd.go
  talk/backend_storage_etcd_test.go
  talk/backend_storage_static.go
  test/wakeup_channel.go
  test/wakeup_channel_test.go
Due: root, test

Store time when join room was successfull in session, not when it ended.
  clientsession.go
  hub.go
  roomsessions_test.go
  session.go
  virtualsession.go
Due: root

Include session id in log message on ignored room event.
  clientsession.go
Due: root

Filter "leave" events for which no "join" was sent before.
  clientsession.go
Due: root

Stop using "DrainMessages" in tests which might process too many messages.
  backend_server_test.go
  testclient_test.go
  virtualsession_test.go
Due: root

Relax order when checking for join/leave in RunTestClientTakeoverRoomSession.
  hub_test.go
Due: root

Move code for commandline applications to "cmd" folder.
  .codecov.yml
  Makefile
  cmd/client/main.go
  cmd/client/stats.go
  cmd/client/stats_test.go
  cmd/proxy/main.go
  cmd/proxy/proxy_client.go
  cmd/proxy/proxy_remote.go
  cmd/proxy/proxy_remote_test.go
  cmd/proxy/proxy_server.go
  cmd/proxy/proxy_server_test.go
  cmd/proxy/proxy_session.go
  cmd/proxy/proxy_stats_prometheus.go
  cmd/proxy/proxy_testclient_test.go
  cmd/proxy/proxy_tokens.go
  cmd/proxy/proxy_tokens_etcd.go
  cmd/proxy/proxy_tokens_etcd_test.go
  cmd/proxy/proxy_tokens_static.go
  cmd/server/main.go
Due: none

Move common client code to separate package.
  .codecov.yml
  client/client.go
  client/client_test.go
  client/ip.go
  client/ip_test.go
  client/stats_prometheus.go
  clientsession.go
  cmd/proxy/proxy_client.go
  cmd/proxy/proxy_server.go
  federation.go
  grpc_remote_client.go
  hub.go
  hub_client.go
  hub_client_stats_prometheus.go
  hub_test.go
  remotesession.go
  testclient_test.go
Due: root, client

Don't import errors for proxy from signaling package.
  cmd/proxy/proxy_server.go
Due: none

Move session id codec to separate package.
  .codecov.yml
  clientsession.go
  cmd/proxy/proxy_server.go
  hub.go
  hub_test.go
  roomsessions_test.go
  session.go
  session/session.pb.go
  session/session.proto
  session/sessionid_codec.go
  session/sessionid_codec_test.go
  testclient_test.go
  virtualsession.go
Due: root

Move backend client to "talk" package.
  hub.go
  room_ping.go
  room_ping_test.go
  talk/backend_client.go
  talk/backend_client_stats_prometheus.go
  talk/backend_client_test.go
  talk/capabilities.go
Due: root

fixup client ip tests
  client/ip_test.go
Due: client
