Repository strukturag/nextcloud-spreed-signaling: changes, and which Codecov flags are due for each by the changed paths.
All: root, api, async, cmd/client, cmd/proxy, cmd/server, config, container, dns, etcd, geoip, grpc, internal, log, metrics, mock, nats, pool, proxy, security, sfu, talk, test

Remove Golang 1.24 compatibility for log output.
  log/test/log.go
  log/test/log_24.go
  log/test/log_25.go
Due: log

Remove Golang 1.24 compatibility for synctest.Test.
  api/transient_data_test.go
  async/backoff_test.go
  async/deferred_executor_test.go
  async/notifier_test.go
  async/single_notifier_test.go
  async/throttle_test.go
  cmd/proxy/proxy_server_test.go
  test/synctest24.go
  test/synctest25.go
  test/synctest_test.go
Due: api, async, cmd/proxy, test

Drop support for Golang 1.24
  README.md
  go.mod
Due: none

Switch to safer waitgroup.Go where possible.
  async/notifier_test.go
  async/single_notifier_test.go
  cmd/client/main.go
  container/concurrentmap_test.go
  dns/monitor_test.go
  internal/closer_test.go
  internal/flags_test.go
  server/backend_server.go
  server/backend_server_test.go
  server/hub.go
  server/hub_test.go
  server/room.go
  server/room_ping.go
  server/roomsessions_builtin.go
  sfu/proxy/config_etcd.go
  sfu/proxy/proxy.go
  talk/backend_storage_etcd.go
  talk/capabilities_test.go
Due: async, cmd/client, container, dns, internal, sfu, talk

make: Use "GO" variable for checklocks.
  Makefile
Due: none

make: Run checklocks tool directly.
  Makefile
Due: none

Ignore more checklocks false positives.
  dns/monitor_test.go
  server/hub.go
  sfu/proxy/config_static.go
Due: dns, sfu

pin spreedbackend uid and add user group
  docker/server/Dockerfile
Due: none

pin proxy uid and add user group
  docker/proxy/Dockerfile
Due: none

CI: Use "docker compose" instead of downloading docker-compose binary.
  .github/workflows/docker-compose.yml
Due: none

Update "go.opentelemetry.io/otel/sdk" to fix "GO-2026-4394".
  go.mod
  go.sum
Due: none

Don't limit size of received Janus events.
  sfu/janus/events_handler.go
Due: sfu

Move Janus event types into api.go
  sfu/janus/api.go
  sfu/janus/events_handler.go
Due: sfu

Update generated files.
  sfu/janus/api_easyjson.go
Due: none

Add warning about Janus queuing unsent events.
  README.md
Due: none

CI: Update paths for checking generated files.
  .github/workflows/generated.yml
Due: none

Update generated files.
  api/signaling_easyjson.go
  async/events/api_easyjson.go
  etcd/api_easyjson.go
  grpc/api_easyjson.go
  proxy/api_easyjson.go
  talk/api_easyjson.go
  talk/ocs_easyjson.go
Due: none

Use "sync.Cond" instead of SingleNotifier.
  sfu/proxy/proxy.go
Due: sfu

Simplify notifier code and remove unused.
  async/notifier.go
  async/notifier_test.go
  async/single_notifier.go
  async/single_notifier_test.go
Due: async

Use "sync.Cond" to wait for publisher to be created.
  server/clientsession.go
Due: none

Use "sync.Cond" to wait for publisher connection.
  sfu/proxy/proxy.go
  sfu/proxy/proxy_test.go
Due: sfu

Remove deprecated ChannelWaiter.
  async/channel_waiter.go
  async/channel_waiter_test.go
Due: async

Use "sync.Cond" to wait for created publishers.
  sfu/janus/janus.go
  sfu/janus/publisher.go
  sfu/janus/remote_publisher.go
  sfu/janus/subscriber.go
Due: sfu

Simplify API for waiter releasing.
  async/notifier.go
  async/notifier_test.go
  sfu/janus/janus.go
Due: async, sfu

Update changelog for 2.1.1
  CHANGELOG.md
Due: none

Move tools helpers to internal package.
  internal/tools/tools.go
  internal/tools/vendor_helper_test.go
Due: internal

Use native atomic type instead of manual calls.
  api/bandwidth.go
Due: api

Remove unused NoCopy helper.
  internal/nocopy.go
Due: internal

Add per-room bandwidth limits.
  cmd/proxy/proxy_server.go
  cmd/proxy/proxy_server_test.go
  cmd/proxy/proxy_session.go
  grpc/client.go
  grpc/room.proto
  grpc/server.go
  grpc/server_test.go
  grpc/test/server.go
  proxy/api.go
  server/clientsession.go
  server/hub.go
  server/room.go
  server/session.go
  sfu/common.go
  sfu/janus/client.go
  sfu/proxy/proxy.go
Due: cmd/proxy, grpc, proxy, sfu

Update generated files.
  grpc/room.pb.go
  grpc/room_grpc.pb.go
  proxy/api_easyjson.go
Due: none

Define min/max bandwidth per publisher.
  server/room.go
Due: none

Adjust default limits.
  server/room.go
Due: none

Support setting bandwidth for proxy publishers.
  cmd/proxy/proxy_server.go
  proxy/api.go
  sfu/proxy/proxy.go
Due: cmd/proxy, proxy, sfu

Update generated files.
  proxy/api_easyjson.go
Due: none

Only count publishers that are sending at least 64 kbit/s.
  server/clientsession.go
Due: none

Path conditions:
  root: any of: *.go, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  api: any of: api/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  async: any of: async/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/client: any of: cmd/client/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/proxy: any of: cmd/proxy/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/server: any of: cmd/server/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  config: any of: config/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  container: any of: container/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  dns: any of: dns/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  etcd: any of: etcd/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  geoip: any of: geoip/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  grpc: any of: grpc/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  internal: any of: internal/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  log: any of: log/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  metrics: any of: metrics/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  mock: any of: mock/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  nats: any of: nats/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  pool: any of: pool/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  proxy: any of: proxy/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  security: any of: security/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  sfu: any of: sfu/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  talk: any of: talk/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  test: any of: test/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
