Repository strukturag/nextcloud-spreed-signaling: changes, and which Codecov flags are due for each by the changed paths.
All: root, api, async, cmd/client, cmd/proxy, cmd/server, config, container, dns, etcd, geoip, grpc, internal, log, metrics, mock, nats, pool, proxy, security, sfu, talk, test

Update generated files.
  talk/api_easyjson.go
Due: none

Add test for disinvite in clusters, improve existing tests.
  server/backend_server_test.go
  server/room_test.go
Due: none

Deduplicate code to lookup session ids for room session ids.
  server/backend_server.go
Due: none

Add more metrics about sessions in calls.
  server/room.go
  server/room_stats_prometheus.go
Due: none

Document new call metrics.
  docs/prometheus-metrics.md
Due: none

Improve incall tests with leaving sessions.
  server/room_test.go
  server/virtualsession_test.go
Due: none

checklocks: Remove ignore since generics are supported now.
  container/concurrentmap.go
  test/storage.go
Due: container, test

Support receiving and forwarding multiple chat messages from Talk.
  api/signaling.go
  server/clientsession.go
  server/clientsession_test.go
Due: api

Update generated files.
  api/signaling_easyjson.go
Due: none

Document sending multiple chat messages from Talk.
  docs/standalone-signaling-api-v1.md
Due: none

Add mock ServerHub implementation.
  grpc/test/server.go
  grpc/test/server_test.go
Due: grpc

Move SFU proxy tests closer to the checked code.
  server/hub_sfu_proxy_test.go
  sfu/proxy/proxy_test.go
Due: sfu

Move SFU Janus tests closer to the checked code.
  server/hub_sfu_janus_test.go
  sfu/janus/janus_test.go
  sfu/janus/subscriber.go
Due: sfu

Implement "GetConnectionURL" for SFUPublisher.
  sfu/test/sfu.go
Due: sfu

Add test for "Hub.GetPublisherIdForSessionId".
  server/hub_test.go
Due: none

Add tests for SFU-related session events.
  server/clientsession_test.go
  sfu/test/sfu.go
Due: sfu

Add tests for prometheus registry.
  metrics/prometheus_test.go
Due: metrics

Add buffer pool tests.
  pool/buffer_pool_test.go
Due: pool

Add reloader tests.
  security/certificate_reloader_test.go
Due: security

Add proxy API tests.
  proxy/api_test.go
Due: proxy

Test validation of more client signaling messages.
  api/signaling.go
  api/signaling_test.go
Due: api

Test validation of federation messages.
  api/signaling_test.go
Due: api

Test federated room session id handling.
  api/signaling_test.go
Due: api

Remove unused client method and increase test coverage.
  client/client.go
  client/client_test.go
Due: none

Add tests for Janus stream selection and simplify code.
  sfu/janus/publisher_stats_counter_test.go
  sfu/janus/stream_selection.go
  sfu/janus/stream_selection_test.go
Due: sfu

Add tests for static token configuration.
  cmd/proxy/proxy_tokens_static.go
  cmd/proxy/proxy_tokens_static_test.go
Due: cmd/proxy

Add test for reloading etcd token configuration.
  cmd/proxy/proxy_tokens_etcd_test.go
Due: cmd/proxy

Improxy proxy server test coverage.
  cmd/proxy/proxy_server_test.go
  cmd/proxy/proxy_session.go
Due: cmd/proxy

Remove duplicate code to load proxy configuration.
  cmd/proxy/proxy_server.go
Due: cmd/proxy

Add helper script to prepare a changelog.
  scripts/prepare-changelog.py
Due: none

Next version will be 2.1.0
  docs/prometheus-metrics.md
Due: none

Update changelog for 2.1.0
  CHANGELOG.md
Due: none

Simplify error type checks.
  cmd/proxy/proxy_server.go
  config/config.go
  internal/as_error.go
  internal/as_error_test.go
  server/backend_server.go
  server/federation.go
  server/hub.go
Due: cmd/proxy, config, internal

readme: Add example websocket urls for Janus events.
  README.md
Due: none

CI: Test with Golang 1.26
  .github/workflows/tarball.yml
  .github/workflows/test.yml
Due: none

CI: Run modernize and checklocks with Golang 1.26
  .github/workflows/lint.yml
Due: none

make: Only need "synctest" GOEXPERIMENT on go1.24
  Makefile
Due: none

Temporarily run some tests only on Go 1.25 or newer.
  api/transient_data_test.go
  async/notifier_test.go
  async/single_notifier_test.go
Due: api, async

CI: No longer test with Golang 1.24
  .github/workflows/govuln.yml
  .github/workflows/lint.yml
  .github/workflows/tarball.yml
  .github/workflows/test.yml
  Makefile
Due: none

Revert "Temporarily run some tests only on Go 1.25 or newer."
  api/transient_data_test.go
  async/notifier_test.go
  async/single_notifier_test.go
Due: api, async

Path conditions:
  root: any of: *.go, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  api: any of: api/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  async: any of: async/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/client: any of: cmd/client/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/proxy: any of: cmd/proxy/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  cmd/server: any of: cmd/server/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  config: any of: config/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  container: any of: container/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  dns: any of: dns/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  etcd: any of: etcd/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  geoip: any of: geoip/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  grpc: any of: grpc/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  internal: any of: internal/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  log: any of: log/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  metrics: any of: metrics/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  mock: any of: mock/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  nats: any of: nats/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  pool: any of: pool/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  proxy: any of: proxy/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  security: any of: security/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  sfu: any of: sfu/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  talk: any of: talk/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
  test: any of: test/**, but not: *_easyjson.go, **/*_easyjson.go, *.pb.go, **/*.pb.go
